<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <style type="text/css">

        text {
            font-size: 11px;
            pointer-events: none;
        }

        text.parent {
            fill: #1f77b4;
        }

        circle {
            fill:#0000FF;
            stroke: #999;
            pointer-events: all;
        }

        circling {
            fill: #FFE4C4;
            stroke: #999;
            pointer-events: all;
        }

        circle.parent {
            fill: #DC143;
            fill-opacity: .5;
            stroke: steelblue;
        }

        circle.parent:hover {
            stroke: #FFE4C4;
            stroke-width: .5px;
        }

        circle.child {
            pointer-events: none;
        }

    </style>
</head>
<body>
<h2>
</h2>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="Colour.js"></script>
<script type="text/javascript">

    // first need to know how to create multidimensional array...
    // grab name and children...

// this is going to be the string scanner stuff...



    var w = 1280,
            h = 800,
            r = 720,								// the radius...
            x = d3.scale.linear().range([0, r]),   // so all the circles are actually scaling....
            y = d3.scale.linear().range([0, r]),
            node,
            root,
            projectNamez = true,
            projectNameu = true;


    // this has to do with sorting the circles into a pack...
    var pack = d3.layout.pack()
            .size([r, r])
            .value(function(d) {
                return d.size;
            })

    var vis = d3.select("body").insert("svg:svg", "h2")
            .attr("width", w)
            .attr("height", h)
            .append("svg:g")
            .attr("transform", "translate(" + (w - r) / 2 + "," + (h - r) / 2 + ")");


    var red = 0;
    var blue = 0;
    var black = 0;
    var pythonFiles = [];

    var currentlypy = false;
    var FileCounter = 0;
    var ColourCounter = 0;



    // the json stuff...
    d3.json("testing2.json", function(data){


        sifter(data);
     //   console.log("after the sifter");

       /* for (var key in data){

            if (key.substring(key.length-2, key.length) == "py"){
                console.log("there are this many python files")
            };
        }*/

    //    for (var o = 0; o < pythonFiles.length; o++){
  //          console.log(pythonFiles[o]);
//        }



        node = root = data;

        var nodes = pack.nodes(root);


        // there is no magnitude of color in this...
        var colorScale = d3.scale.linear()
                .domain([red, blue])
                .range(["red", "blue"]); // will add in black later dont know if this will work yet...

        var collecting = false;
        vis.selectAll("circle")
                .data(nodes)
                .enter().append("svg:circle")
                .style("fill", function(d){
                    var blue = 0;
                    var green = 0;
                    var red = 0;
                    //console.log("the name of the current file being checked " + d.name);
                    for (var g = 0; g < pythonFiles.length; g++) {

                        if (d.name == pythonFiles[g]) {

                            if (g+1 >= pythonFiles.length ||
                                    pythonFiles[g+1].substring(pythonFiles[g+1].length-2, pythonFiles[g+1].length) == "py"){
                                //console.log("deleting one with no errors" + pythonFiles[g]);
                                pythonFiles.splice(g, 1);
                                return "violet";
                            }
                            var e;
                            for ( e = g + 1; e < pythonFiles.length; e++) {
                                var porc = pythonFiles[e];
                                if (porc == "green") {
                                    green++;
                                }
                                if (porc == "red") {
                                    red++;
                                }

                                if (porc == "blue") {
                                    blue++;
                                }
                                if (porc.substring(porc.length - 2, porc.length) == "py") {
                                    break;  // end this loop as soon as a python file has been found...
                                }
                            }

                            for (var t = g; t < e; t++){
                              //  console.log("deleting ...." + pythonFiles[t]);
                                pythonFiles.splice(t, 0);
                            }

                            for (var v = 0; v < pythonFiles.length; v++){
                              //  console.log(pythonFiles[v]);
                            }
                            // lets print out the colors and see if they got incrementedc
                            //console.log(d.name + " <-- this is the colors for");
                            //console.log("this is the amount of blue available " + blue);
                            //console.log("this is the amount of red available " + red);
                            //console.log("this is the amount of green available " + green);

                            if (blue == 0 && green == 0 && red == 0) {
                                return "violet"; // we end the loop before we can increment everything...
                            }

                            // find how different all three are to each other...
                            var total = (green + blue + red);
                            var redPercentage = red/total;
                            var greenPercentage = green/ total;
                            var bluePercentage = blue/total;

                            // now find the percentage of the total 255;

                            var redAmount = 255 * redPercentage;
                            var greenAmount = 255 * greenPercentage;
                            var blueAmount = 255 * bluePercentage;
                            var tColor = new RGBColour(redAmount, greenAmount, blueAmount);
                            var newColor = tColor.getCSSHexadecimalRGB();
                            return newColor;
                        }
                        }
                    //console.log("returning pink");
                    return "orange";

                })
                .attr("cx", function(d) { return d.x; })// where is it getting its x data point??
                .attr("cy", function(d) { return d.y; }) // the d should be referencing the data objects...
                .attr("r", function(d) { return d.r; })
               // .style("visibility", function (d)
                //{
                 /*   if(d == root){
                       return "visible";
                    }
                    else{

                        if(d.parent.parent){
                            return "hidden";
                        }
                        return "visible";
                    }
                   // return d.parent.parent? "hidden": "visible";
*/

                //})
                .on("click", function(d) {
                    console.log("zoom zoom zoom");
                    return zoom(node == d ? root : d); })


// this w   ill disable all onclick events... now we want do disable certain onclick events...
 // need to learn how to make a class and add certain elements to it...
    //d3.selectAll("circle")
        //    .on('click', null);

        vis.selectAll("text")
                .data(nodes)
                .enter().append("svg:text")
                .attr("x", function(d) {                    // all this code here will make the project name go in the
                                                                // top corner and the rest of the code in the little bubbles
                    if (projectNamez == true){
                        projectNamez = false;

                        return 0;
                    }else{

                        return d.x;
                    }
                     })
                .attr("y", function(d) {

                    if (projectNameu == true){

                        projectNameu = false;
                        return 0;
                    }else {

                        return d.y;
                    }
                    })
                .attr("dy", ".35em")
                .attr("text-anchor", "middle")
                .style("visibility", function (d)
                {

                    // this here is meant to try and hide certain aspects...
                  //  if(d == root){
                   //     return "visible";
                  //  }
                  //  else{
                    //    if(d.parent.parent){
                      //      return "hidden";
                       // }
                       // return "visible";
                    //}
                    // return d.parent.parent? "hidden": "visible";


                })
                .style("opacity", function(d) { return d.r > 20 ? 1 : 0; })
                .on("click", function(){
                     // when the words are pressed we display something else here...
                    //console.log("the words have been pressed");
                    //return zoom(node == d ? root : d)

                })
                .text(function(d) { return d.name; });




        /*d3.selectAll("circle").on("contextmenu", function(d, i) {

        console.log("this was pressed");


        }),*/



        /*d3.select(window).on("click", function() {
            console.log("the zoom was pressed");
            zoom(root);
        });*/
    });

        // todooo need to take into account filesizes...
    // we need zoom to go in close into the bubble, and once its there we need the bubble to show the code...
    function zoom(d) {


        var k = r / d.r / 2;
        x.domain([d.x - d.r, d.x + d.r]);
        y.domain([d.y - d.r, d.y + d.r]);
        projectNameu = true;
        projectNamez = true;

        var t = vis.transition()
                .duration(d3.event.altKey ? 7500 : 750);

        t.selectAll("circle")
                .attr("cx", function(d) { return x(d.x); })
                .attr("cy", function(d) { return y(d.y); })
                .attr("r", function(d) { return k * d.r; })
        /*.style("visibility", function (d)
        {
            if(d == root){
                return "visible";
            }
            else{
                if(d.parent.parent){
                    return "hidden";
                }
                return "visible";
            }
            // return d.parent.parent? "hidden": "visible";


        });*/

        t.selectAll("text")// we have to do this again when rerendering all the text...
                .attr("x", function(d) {
                    if (projectNamez == true){
                        projectNamez = false;
                        return x(0);
                    }else
                    {
                        return x(d.x);
                    }
                 })
                .attr("y", function(d) {
                    if (projectNameu == true){
                        projectNameu = false;
                        return y(0);
                    }else
                    {
                        return y(d.y);
                    }
                     })
                .style("opacity", function(d) { return k * d.r > 20 ? 1 : 0; });

        node = d;
        d3.event.stopPropagation();
    }


    // this finds all the python files and colors and puts them in a list...
    function sifter(d){
        //console.log(d);

        for (var i in d) {

            // console.log(i);
            //console.log(d[i]);
            if (i == "name") {
            }

            if (typeof d[i] == "string") {
                if (d[i].substring(d[i].length, d[i].length - 3) == ".py") {
                    currentlypy = true;
                    pythonFiles.push(d[i]);
                }
            }


            if (i.substring(0,4) == "line"){

                for(var u in d[i]){
                    //console.log([u]);
                    // console.log(d[i][u]);

                    if (u == "color") {
                        currentlypy = false;
                    }

                    if (d[i][u] == "blue") {
                        pythonFiles.push("blue");
                        // console.log("blue is found");
                    }
                    if (d[i][u] == "green") {
                        pythonFiles.push("green");
                        //console.log("black is found");
                    }
                    if (d[i][u] == "red") {
                        pythonFiles.push("red");
                        //  console.log("Red is found");
                    }
                }
            }

            if (i == "children") {

                for (var t in d[i]) {
                    sifter(d[i][t]);
                }
            }
        }
    }







    function colorcoder(d){

        for (var g = 0; g < pythonFiles.length; g++) {
            var pythonFile = pythonFiles[g];

            var a = g + 1;
            if (d.name == pythonFile) {
                console.log("this is what your testing   " + pythonFiles[a]);
                // basically if it is a python file keep running
                /*while (pythonFiles[a].substring(pythonFiles[a].length - 2, pythonFiles[a].length) != "py") {
                 console.log("inside the while loop is working right now");
                 console.log("this should be color:  " + pythonFiles[a]);
                 if (pythonFiles == "red") {
                 red += 20;
                 }
                 if (pythonFiles == "blue") {
                 blue += 20;
                 }
                 a++;

                 }*/

                return "green";

            }
            return "red"
        }
    }


</script>
</body>
</html>
