<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <style type="text/css">

        text {
            font-size: 11px;
            pointer-events: none;
        }

        text.parent {
            fill: #1f77b4;
        }

        circle {
            fill:#0000FF;
            stroke: #999;
            pointer-events: all;
        }

        circling {
            fill: #FFE4C4;
            stroke: #999;
            pointer-events: all;
        }

        circle.parent {
            fill: #DC143;
            fill-opacity: .5;
            stroke: steelblue;
        }

        circle.parent:hover {
            stroke: #FFE4C4;
            stroke-width: .5px;
        }

        circle.child {
            pointer-events: none;
        }

    </style>
</head>
<body>
<h2>
</h2>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="Colour.js"></script>
<script type="text/javascript">

    var w = 1280,
            h = 800,
            r = 720,
            x = d3.scale.linear().range([0, r]),
            y = d3.scale.linear().range([0, r]),
            node,
            root,
            projectNamez = true,
            projectNameu = true;


    var pack = d3.layout.pack()
            .size([r, r])
            .value(function(d) {
                return d.size;
            })

    var vis = d3.select("body").insert("svg:svg", "h2")
            .attr("width", w)
            .attr("height", h)
            .append("svg:g")
            .attr("transform", "translate(" + (w - r) / 2 + "," + (h - r) / 2 + ")");


    var red = 0;
    var blue = 0;
    var black = 0;
    var pythonFiles = [];

    var currentlypy = false;
    var FileCounter = 0;
    var ColourCounter = 0;

    var globalData;
    var directoryHash = {};  // this is now a hashmap...  // now for each directory we are going to have another set of directories...
    var indexforHidden = 0;
    var hiddenChildren = [];
    var thiddenChildren = [];
    var firstLayerText = [];
    var jsonobjectstosend = {};

    var Json = new Object;

    d3.json("testing2.json", function(data){

        globalData = data;
        sifter(data);
        hashmap(data);

        node = root = data;
        var nodes = pack.nodes(root);

        var collecting = false;
        vis.selectAll("circle")
                .data(nodes)
                .enter().append("svg:circle")
                .attr("id", function(d){
                    if(d.name.substring(d.name.length-3, d.name.length) == ".py"){
                        return d.name.substring(0,d.name.length-3);
                    }
                    return d.name;
                })
                .style("fill", function(d){
                    var blue = 0;
                    var green = 0;
                    var red = 0;
                    //console.log("the name of the current file being checked " + d.name);
                    for (var g = 0; g < pythonFiles.length; g++) {

                        if (d.name == pythonFiles[g]) {

                            if (g+1 >= pythonFiles.length ||
                                    pythonFiles[g+1].substring(pythonFiles[g+1].length-2, pythonFiles[g+1].length) == "py"){
                                //console.log("deleting one with no errors" + pythonFiles[g]);
                                pythonFiles.splice(g, 1);
                                return "violet";
                            }
                            var e;
                            for ( e = g + 1; e < pythonFiles.length; e++) {
                                var porc = pythonFiles[e];
                                if (porc == "green") {
                                    green++;
                                }
                                if (porc == "red") {
                                    red++;
                                }

                                if (porc == "blue") {
                                    blue++;
                                }
                                if (porc.substring(porc.length - 2, porc.length) == "py") {
                                    break;  // end this loop as soon as a python file has been found...
                                }
                            }

                            for (var t = g; t < e; t++){
                              //  console.log("deleting ...." + pythonFiles[t]);
                                pythonFiles.splice(t, 0);
                            }

                            for (var v = 0; v < pythonFiles.length; v++){
                              //  console.log(pythonFiles[v]);
                            }
                            // lets print out the colors and see if they got incrementedc
                            //console.log(d.name + " <-- this is the colors for");
                            //console.log("this is the amount of blue available " + blue);
                            //console.log("this is the amount of red available " + red);
                            //console.log("this is the amount of green available " + green);

                            if (blue == 0 && green == 0 && red == 0) {
                                return "violet"; // we end the loop before we can increment everything...
                            }

                            // find how different all three are to each other...
                            var total = (green + blue + red);
                            var redPercentage = red/total;
                            var greenPercentage = green/ total;
                            var bluePercentage = blue/total;

                            // now find the percentage of the total 255;

                            var redAmount = 255 * redPercentage;
                            var greenAmount = 255 * greenPercentage;
                            var blueAmount = 255 * bluePercentage;
                            var tColor = new RGBColour(redAmount, greenAmount, blueAmount);
                            var newColor = tColor.getCSSHexadecimalRGB();
                            return newColor;
                        }
                        }
                    return "orange";

                })
                .attr("cx", function(d) { return d.x; })// where is it getting its x data point??
                .attr("cy", function(d) { return d.y; }) // the d should be referencing the data objects...
                .attr("r", function(d) { return d.r; })
                .style("visibility", function (d)
                {
                    if(d == root){
                       return "visible";
                    }
                    else{

                        if(d.parent.parent){
                            return "hidden";
                        }
                        return "visible";
                    }
                    return d.parent.parent? "hidden": "visible";


                })
                .on("click", function(d) {
                    console.log("zoom zoom zoom");
                    return zoom(node == d ? root : d); })


        // need to figure out how to show the text as well...
        vis.selectAll("text")
                .data(nodes)
                .enter().append("svg:text")
                .attr("id", function(d){
                    var ourID = d.name;
                    var t = "t";
                    if(ourID.substring(ourID.length-3, ourID.length) == ".py"){
                        ourID = ourID.substring(0,ourID.length-3);
                    }

                    var returning = t.concat(ourID);
                    //console.log("returning   " + returning);
                    return returning;
                })
                .attr("x", function(d) {                    // all this code here will make the project name go in the
                                                           // top corner and the rest of the code in the little bubbles
                    if (projectNamez == true){
                        projectNamez = false;
                        return 0;
                    }else{

                        return d.x;
                    }
                     })
                .attr("y", function(d) {
                    if (projectNameu == true){
                        projectNameu = false;
                        return 0;
                    }else {
                        return d.y;
                    }
                    })
                .attr("dy", ".35em")
                .attr("text-anchor", "middle")
                .style("visibility", function (d)
                {


                    if(d == root){
                        return "visible";
                    }
                    else{
                        if(d.parent.parent){
                            return "hidden";
                        }
                        return "visible";
                    }
                     return d.parent.parent? "hidden": "visible";

                })
                .style("opacity", function(d) { return d.r > 20 ? 1 : 0; })
                .text(function(d) { return d.name; });
    });


//   TODO !!!! WE ARE GOING TO NEED TO HIDE THE CORRECT TEXT AS WELL THROUGH THE ZOOM FUNCTION...
// 1.) AS SOON AS WE ZOOM IN WE SHOULD HIDE THE DIRECTORY TEXT AND SHOW THE LOWER LAYER TEXT
    function zoom(d) {

        var ddname;
        var textname;
            if (d.name.substring(d.name.length - 3, d.name.length) == ".py") {
                ddname = d.name.substring(0, d.name.length - 3);
            } else {
                ddname = d.name;
            }

        textname = "t".concat(ddname);

        var textElement = document.getElementById(textname);
        var element = document.getElementById(ddname);

        // lets add a t in front of all text elements...

        if(textElement.style.visibility == "visible"){

        }
        // if anything that is invisible is clicked...
        if(element.style.visibility != "visible"){
            var name = d.name;
            for (var g in directoryHash){
                var key = g;
                var contents = directoryHash[g]; // this is going to be the contents of each one... thus we are finding i ---> the key
                for (var h = 0; h < contents.length; h++){
                    if (name == contents[h]){
                        sifter2(globalData, key);
                        zoom(Json);
                        return;
                    }
                }
            }
            return;
        }

        // unhides the one that was picked...
        unhider(d);

        var k = r / d.r / 2;
        x.domain([d.x - d.r, d.x + d.r]);
        y.domain([d.y - d.r, d.y + d.r]);
        projectNameu = true;
        projectNamez = true;

        var t = vis.transition()
                .duration(d3.event.altKey ? 7500 : 750);

        t.selectAll("circle")
                .attr("cx", function(d) { return x(d.x); })
                .attr("cy", function(d) { return y(d.y); })
                .attr("r", function(d) { return k * d.r; })

        t.selectAll("text")// we have to do this again when rerendering all the text...
                .attr("x", function(d) {
                    if (projectNamez == true){
                        projectNamez = false;
                        return x(0);
                    }else
                    {
                        return x(d.x);
                    }
                 })
                .attr("y", function(d) {
                    if (projectNameu == true){
                        projectNameu = false;
                        return y(0);
                    }else
                    {
                        return y(d.y);
                    }
                     })
                .style("opacity", function(d) { return k * d.r > 20 ? 1 : 0; });

        node = d;
        d3.event.stopPropagation();
    }


    // this finds all the python files and colors and puts them in a list...
    function sifter(d){
        //console.log(d);
        for (var i in d) {
            // console.log(i);
            //console.log(d[i]);

            if (typeof d[i] == "string") {
                if (d[i].substring(d[i].length, d[i].length - 3) == ".py") {
                    currentlypy = true;
                    pythonFiles.push(d[i]);
                }
            }
            if (i.substring(0,4) == "line"){
                for(var u in d[i]){
                    //console.log([u]);
                    // console.log(d[i][u]);
                    if (u == "color") {
                        currentlypy = false;
                    }
                    if (d[i][u] == "blue") {
                        pythonFiles.push("blue");
                        // console.log("blue is found");
                    }
                    if (d[i][u] == "green") {
                        pythonFiles.push("green");
                        //console.log("green is found");
                    }
                    if (d[i][u] == "red") {
                        pythonFiles.push("red");
                        //  console.log("Red is found");
                    }
                }
            }
            if (i == "children") {
                for (var t in d[i]) {
                    sifter(d[i][t]);
                }
            }
        }
    }

    // input global data and the directory...
    function sifter2(d, directory){
        for (var i in d) {
            if (d.name == directory){
                Json = d;
            }
            if(i == "children"){
                for (var t in d[i]){
                    sifter2(d[i][t], directory);
                }
            }
        }
    }

    // this does all the hiding and unhiding...  -- > we have to work on hiding the letters of the directories...
function unhider(d){

    console.log(d);

    for (var i in directoryHash)
    {

        //TODO!!!  we cant just have a project name case... we need to check every directory and it needs its own set of things that it can show...

        if (d.name == globalData.name) {

            while (hiddenChildren.length != 0) {
                // have to do the exact samething for the text...
                var element = document.getElementById(hiddenChildren.pop());
                element.style.visibility = "hidden";
                var telement = document.getElementById(thiddenChildren.pop());
                telement.style.visibility = "hidden";


            }

            for (var i in d) {
                if(i == "children"){
                    for (var t in d[i]){
                        console.log(d[i][t].name);
                        var name = d[i][t].name;
                        var textname = "t".concat(name);

                        if(textname.substring(textname.length-3, textname.length) == ".py"){

                            textname = textname.substring(0,textname.length-3);
                        }else{
                            textname = textname;
                        }
                        var celement = document.getElementById(textname);
                        celement.style.visibility = "visible";
                    }
                }
            }
            return;
        }

        if (d.name == i){    // set visible only the things within that scope and set everything else to be invisible...
            var innards = directoryHash[i];
            for(var v = 0; v < innards.length; v++){
                 var ddname;
                 var textddname;
                var firstTxt = "t".concat(d.name);
                if(innards[v].substring(innards[v].length-3, innards[v].length) == ".py"){
                    ddname = innards[v].substring(0,innards[v].length-3);
                }else{
                    console.log(innards[v]);
                    ddname = innards[v];   // this is the line we need to get back to normal

                    }


                textddname = "t".concat(ddname);
                hiddenChildren.push(ddname);
                thiddenChildren.push(textddname);
                firstLayerText.push(firstTxt);

                var element = document.getElementById(ddname);
                    element.style.visibility = "visible";

                var telement = document.getElementById(textddname);
                    telement.style.visibility = "visible";

                var currentdirectoryElement = document.getElementById(firstTxt);
                currentdirectoryElement.style.visibility = "hidden";
            }
        }

    }

}

    // this creates a hashmap of every directory with its contents.
   //TODO MAYBE SHOULD DO THIS WITH THE COLORS IN THE PYTHON FILES??
function hashmap(d){

    var key;
    var children = [];

    for (var i in d) {
        if(i == "name"){
            if (d[i].substring(d[i].length-3, d[i].length) != ".py"){
                key = d[i];
            }
        }
        if (i == "children"){
            for (var t in d[i]) {
                children.push(d[i][t].name);
                hashmap(d[i][t]);
            }
        directoryHash[key] = children;
        }

    }

}




</script>
</body>
</html>
