<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <style type="text/css">

        text {
            font-size: 11px;
            pointer-events: none;
        }

        text.parent {
            fill: #1f77b4;
        }

        circle {
            fill:#0000FF;
            stroke: #999;
            pointer-events: all;
        }
        rectangle{
            fill:#0000FF;
            stroke: #999;
            pointer-events: all;

        }

        circling {
            fill: #FFE4C4;
            stroke: #999;
            pointer-events: all;
        }

        circle.parent {
            fill: #DC143;
            fill-opacity: .5;
            stroke: steelblue;
        }

        circle.parent:hover {
            stroke: #FFE4C4;
            stroke-width: .5px;
        }

        circle.child {
            pointer-events: none;
        }

        .viewport {
            position: absolute;
            top: 15px;
            left: 15px;
            overflow-y: auto;
            width: 280px;
            height: 400px;
            background-color: #e8e8e8;
            border: 1px solid #AAAAAA;
            border-radius: 4px;
            box-shadow: inset 1px 1px 6px 2px rgba(0,0,0, .25);
        }
        .scroll-svg {

        }
        .longscroll .row {
            font-family: Arial;
            font-size: 11px;
            height: 19px;
            padding: 0 8px;
            border-bottom: solid #eee 1px;
        }

        .information {
            position: absolute;
            top: 15px;
            left: 300px;
            width: 350px;
            height: 400px;
        }

        .info-svg {
            fill: #2968AA;
            overflow: visible;
        }

        .brace {
            stroke: #2968AA;
            stroke-width: 2px;
            fill: none;
        }

        .infotext {
            font-size: 20px;
        }

    </style>
</head>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="virtualscroller.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="Colour.js"></script>
<script type="text/javascript">
// duplicates only work with them in different directories and having only one of them...!!!
// no numbers in the names either...
// TODO!! --- > WE NEED TO WORK ON TRYING TO GET THE SCROLLERS INSIDE THOSE CIRCLES...
var w = 1280,
        h = 800,
        r = 720,
        x = d3.scale.linear().range([0, r]),
        y = d3.scale.linear().range([0, r]),
        node,
        root,
        projectNamez = true,
        projectNameu = true;


var pack = d3.layout.pack()
        .size([r, r])
        .value(function(d) {
            return d.size;
        })



// going to select viewport here and place it onto body...
var vis = d3.select("body").insert("svg:svg", "h2")
        .attr("width", w)
        .attr("height", h)
        .attr("id","thesvg")
        .append("svg:g")
        .attr("id","theg")
        .attr("transform", "translate(" + (w - r) / 2 + "," + (h - r) / 2 + ")");

document.getElementById("thesvg").style.zIndex ="1";
document.getElementById("theg").style.zIndex ="1";

var red = 0;
var blue = 0;
var black = 0;
var pythonFiles = [];

var copyCounterT = 0;
var currentlypy = false;
var FileCounter = 0;
var ColourCounter = 0;


var globalData;
var directoryHash = {};
var indexforHidden = 0;
var hiddenChildren = [];
var thiddenChildren = [];
var firstLayerText = [];
var jsonobjectstosend = {};


var projectName;
var projectNamecounter = 0;
var Json = new Object;

var idList = [];
var idList2 = [];  // this one is for text...

d3.json("sample_plumbum_output.json", function(data){

    //console.log(data);

    var copyCounter = 1;
    globalData = data;
    sifter(data);
    sifter3(data);

    hashmap(data);
    duplicateRenamer();
    node = root = data;
    var nodes = pack.nodes(root);
    if (projectNamecounter == 0){
        projectName = data.name;
        projectNamecounter++;
    }

    vis.selectAll("circle")
            .data(nodes)
            .enter()
            .append("svg:circle")
            .attr("id", function(d){
                var ddname = d.name;
                if(d.name.substring(d.name.length-3, d.name.length) == ".py"){
                    ddname = d.name.substring(0,d.name.length-3);
                }
                //console.log(ddname);
                var checkifexists = document.getElementById(ddname);
                //console.log(checkifexists);
                if(checkifexists == null){
                    idList.push(ddname);
                    return ddname;
                }else{

                    var string = copyCounter.toString();
                    var newID = ddname.concat(string);
                    idList.push(newID);
                    return newID;
                }
            })
            .style("fill", function(d){
                var result = colorMixer(d);
                return result;
            })
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; })
            .attr("r", function(d) { return d.r; })
            .style("visibility", function (d)
            {
                if(d == root){
                    return "visible";
                }
                else{

                    if(d.parent.parent){
                        return "hidden";
                    }
                    return "visible";
                }
                return d.parent.parent? "hidden": "visible";
            })
            .on("click", function(d) {
                // this gives the data object...

                // function ... d3.json(d.path,
                console.log("zoom zoom zoom");
                return zoom(node == d ? root : d); });

    // we need to give every svg element circle a Z value
    // the z value will work... we need to set one for every single circle that was made....
    // make an array with all the id's and select every single one and make a z value...



    //------------------>TEXT SECTION<-------------------
    vis.selectAll("text")
            .data(nodes)
            .enter().append("svg:text")
            .attr("id", function(d){
                var ourID = d.name;
                var t = "t";
                ourID = t.concat(ourID);
                if(ourID.substring(ourID.length-3, ourID.length) == ".py"){
                    ourID = ourID.substring(0,ourID.length-3);
                }
               // console.log(ourID);
                var checkifexists = document.getElementById(ourID); // all of these id's already exist... we need to check if the t ones already exist...

                if(checkifexists == null){
                //    console.log("this id does not exist so return it..." + (ourID));
                    idList2.push(ourID);
                    return (ourID);
                }else{
                    copyCounterT += 1;  // we are going to need another counter here for the text...
                    var string = copyCounter.toString();
                    var newID = ourID.concat(string);
              //      console.log("the new id that is being made here  " + (newID));
                    idList2.push(newID);
                    return (newID);
                }
            })
            .attr("x", function(d) {                    // all this code here will make the project name go in the
                // top corner and the rest of the code in the little bubbles
                if (projectNamez == true){
                    projectNamez = false;
                    return 0;
                }else{
                    return d.x;
                }
            })
            .attr("y", function(d) {
                if (projectNameu == true){
                    projectNameu = false;
                    return 0;
                }else {
                    return d.y;
                }
            })
            .attr("dy", ".35em")
            .attr("text-anchor", "middle")
            .style("visibility", function (d)
            {
                if(d == root){
                    return "visible";
                }
                else{
                    if(d.parent.parent){
                        return "hidden";
                    }
                    return "visible";
                }
                return d.parent.parent? "hidden": "visible";

            })
            .style("opacity", function(d) { return d.r > 20 ? 1 : 0; })
            .text(function(d) { return d.name; });

    // ---> this section is going to make the div tags in the position of every single circle...
    // lets first hold the position of every single circle as well as size of everything...
    // lets use a hashmap...


    console.log(idList2.length);

    for (var k = 0; k < idList.length; k++){
        // lets select every single one
        console.log("this is the idlist" + idList[k]);
        var selection = document.getElementById(idList[k]);
        var selection2 = document.getElementById(idList2[k]);

        // for every selection give it a low z
        selection.style.zIndex = "1";
        selection2.style.zIndex = "1";
    }


    // try and just place the thing overtop right away...

    scrollMaker(box, d.path, idName);
});




function zoom(d) {

    console.log(d.path);
    console.log(d.name);

    var ddname = d.name;
    var textname;
    if (d.name.substring(d.name.length - 3, d.name.length) == ".py") {
        ddname = d.name.substring(0, d.name.length - 3);
    } else {
        ddname = d.name;
    }
    textname = "t".concat(ddname);

// ---->> getting the directory of the thing zoomed... // we should make a seperate function for this....


    var directoryofzoomed = directoryGrabber(d);
      for (var a = 0; a < redundantChecker.length; a++){
          if (redundantChecker[a] == d.name){
              for (var o in directoryHash){
                  if (directoryofzoomed == o){
                      for (var j = 0; j < directoryHash[o].length; j++){
                          var currentValue = directoryHash[o][j];
                          for (var m = 0; m < redundantChecker.length; m++){
                        //      console.log("inside the redundant checker here  " + redundantChecker[m]);
                          //      console.log(currentValue);
                              if(redundantChecker[m] == currentValue){
                                  //console.log("found a match!!");
                                  ddname = redundantChecker[m];
                                  //console.log("this is happening");
                                  if (ddname.substring(ddname.length - 3, ddname.length) == ".py") {
                                      ddname = ddname.substring(0, ddname.length - 3);
                                  } else {
                                      ddname = ddname;
                                  }
                                  textname = "t".concat(ddname);
                                  //console.log(ddname)
                                  //console.log(textname);
                              }
                          }
                      }
                  }
              }
          }
      }
   // console.log("just before the important stuff: " +   ddname);
   // console.log("just before the important stuff: " + textname);
    var textElement = document.getElementById(textname);
    var element = document.getElementById(ddname);

    // ---> handles all hidden bubbles that are pressed...
    // not referring to the local1.py...
    if(element.style.visibility == "hidden"){

        sifter2(globalData, directoryofzoomed);
        zoom(Json);
        return;
    }

    // unhides the one that was picked...
    unhider(d);

    var k = r / d.r / 2;
    x.domain([d.x - d.r, d.x + d.r]);
    y.domain([d.y - d.r, d.y + d.r]);
    projectNameu = true;
    projectNamez = true;

    var t = vis.transition()
            .duration(d3.event.altKey ? 7500 : 750);

    t.selectAll("circle")
            .attr("cx", function(d) {

              //  console.log("x coordinate: " +x(d.x) );
                return x(d.x); })
            .attr("cy", function(d) {

                //console.log("y coordinate: " + y(d.y));
                return y(d.y); })
            .attr("r", function(d) {

               // console.log("radius:  " + k * d.r);
                return k * d.r; })

    t.selectAll("text")// we have to do this again when rerendering all the text...
            .attr("x", function(d) {
                if (projectNamez == true){
                    projectNamez = false;
                    return x(0);
                }else
                {
                    return x(d.x);
                }
            })
            .attr("y", function(d) {
                if (projectNameu == true){
                    projectNameu = false;
                    return y(0);
                }else
                {
                    return y(d.y);
                }
            })
            .style("opacity", function(d) { return k * d.r > 20 ? 1 : 0; });

    // ---->>> this is where we add the div tag if the element zoomed is zoomed all the way
    // lets first find the coordinates of the bubble that was clicked...
   // we need to figure out a condition to know when the bubble has been clicked all the way...
    var box = { left: 0, top: 0 };
    box = document.getElementById(ddname).getBoundingClientRect();

    var xcoord =  box.left;
    var ycoord = box.top;
    var width = box.width;
    var height = box.height;

    console.log("name: " + ddname);
    console.log("xcoord: " + xcoord);
    console.log("ycoord: " + ycoord);
    console.log("the height" + height);
    console.log("the witdth " + width);


    // basically if the python file reaches this point then we can create the new div tag...

    if (d.name.substring(d.name.length-3, d.name.length) == ".py"){

        idName = "d".concat(d.name.substring(0, d.name.length-3));
        console.log(idName);
        //scrollMaker(box, d.path, idName);

        // we just call index.html right here...
        appendScroller(box, d.path, idName);

    }

    node = d;
    d3.event.stopPropagation();
}

function dynamicDiv(box){

    // because it has transformed the square we need to find the transform mechanism...

   var xcoord =  box.left;  // as long as its in the middle...   // we dont really need the input...
   var ycoord = box.top;
    var width = box.width + 300;
    var height = box.height + 300;

    var name = "newblock";

        // ---> inside here create more div tags...
        var iDiv = document.createElement('div');
        iDiv.id = name;
        iDiv.className = name;
        document.getElementsByTagName('body')[0].appendChild(iDiv);

        document.getElementById(name).style.width = 600 + "px"
        document.getElementById(name).style.height = 600 + "px";
            // we just have to position this better...
        var a = document.getElementById(name);
        a.style.position = "absolute";
        a.style.left =  "20%" //xcoord;
        a.style.top = "10%" //ycoord;
        a.style.overflowY = "auto";
        a.style.border = 1 + "px solid #AAAAAA";
        a.style.backgroundColor = "#e8e8e8";
        a.style.overflowX = "auto";
        a.style.zIndex = "20";
}




// send in the new div tag...

function appendScroller(box, path, name){

    name = ".".concat(name);
    console.log(name);


    d3.json("states.json", function (states) {

        dynamicDiv(box);

        var colorScale = d3.scale.category20();

        var scrollSVG = d3.select(".newblock").append("svg")
                .attr("class", "scroll-svg")
                .attr("id", "othersvg");

        document.getElementById("othersvg").style.zIndex = "20";

        // putting defs together so they can be filtered properly...
        var defs = scrollSVG.insert("defs", ":first-child");
        createFilters(defs);

        // chartgroup is set to append onto scroll svg and class is set...
        var chartGroup = scrollSVG.append("g")
                .attr("class", "chartGroup")

        // we append a rectangle onto chartgroup...
        chartGroup.append("rect")
                .attr("fill", "#FFFFFF");

        var infoSVG = d3.select(".information").append("svg")
                .attr("class", "info-svg");

        var braceGroup = infoSVG.append("g")
                .attr("transform", "translate(0,0)");

        braceGroup.append("path")
                .attr("class", "brace")
                .attr("d", makeCurlyBrace(10, 380, 10, 20, 30, 0.55));

        var braceLabelGroup = braceGroup.append("g")
                .attr("transform", "translate(45, 176)");

        braceLabelGroup.append("text")
                .attr("class", "infotext")
                .attr("transform", "translate(0, 0)")
                .text("50 data items but only ");

        braceLabelGroup.append("text")
                .attr("class", "infotext")
                .attr("transform", "translate(-1, 30)")
                .text("15 dom nodes rendered");

        braceLabelGroup.append("text")
                .attr("class", "infotext")
                .attr("transform", "translate(0, 60)")
                .text("at any given time!");


        // these are all the squares that are entering the frame...
        var rowEnter = function(rowSelection) {
            rowSelection.append("rect")
                    .attr("rx", 3)
                    .attr("ry", 3)
                    .attr("width", "1000")
                    .attr("height", "24")
                    .attr("fill-opacity", 0.25)
                    .attr("stroke", "#999999")
                    .attr("stroke-width", "2px");
            rowSelection.append("text")
                    .attr("transform", "translate(10,15)");
        };
        // this is what is updating the index...
        var rowUpdate = function(rowSelection) {
            rowSelection.select("rect")
                    .attr("fill", function(d) {
                        // TODO!!! THIS LINE HERE IS GOING TO SHOW EVERY LINE OF CODE!!!



                        return colorScale(d.id);
                    });

            // right here we should put all the text inside...
            rowSelection.select("text")
                    .text(function (d) {
                        // TODO !!! this part here is going to show the lines of code



                        return (d.index + 1) + ". " + d.label;
                    });
        };

        var rowExit = function(rowSelection) {
        };


        // have to place a div tag inside every single bubble...
        var virtualScroller = d3.VirtualScroller()
                .rowHeight(30)
                .enter(rowEnter)
                .update(rowUpdate)
                .exit(rowExit)
                .svg(scrollSVG)
                .totalRows(50)
                .viewport(d3.select(".newblock"));

        // tack on index to each data item for easy to read display
        states.items.forEach(function(nextState, i) {
            nextState.index = i;
        });

        virtualScroller.data(states.items, function(d) { return d.id; });

        chartGroup.call(virtualScroller);

        function createFilters(svgDefs) {
            var filter = svgDefs.append("svg:filter")
                    .attr("id", "dropShadow1")
                    .attr("x", "0")
                    .attr("y", "0")
                    .attr("width", "200%")
                    .attr("height", "200%");

            filter.append("svg:feOffset")
                    .attr("result", "offOut")
                    .attr("in", "SourceAlpha")
                    .attr("dx", "1")
                    .attr("dy", "1");

            filter.append("svg:feColorMatrix")
                    .attr("result", "matrixOut")
                    .attr("in", "offOut")
                    .attr("type", "matrix")
                    .attr("values", "0.1 0 0 0 0 0 0.1 0 0 0 0 0 0.1 0 0 0 0 0 0.2 0");

            filter.append("svg:feGaussianBlur")
                    .attr("result", "blurOut")
                    .attr("in", "matrixOut")
                    .attr("stdDeviation", "1");

            filter.append("svg:feBlend")
                    .attr("in", "SourceGraphic")
                    .attr("in2", "blurOut")
                    .attr("mode", "normal");
        }

        function makeCurlyBrace(x1,y1,x2,y2,w,q)
        {
            //Calculate unit vector
            var dx = x1-x2;
            var dy = y1-y2;
            var len = Math.sqrt(dx*dx + dy*dy);
            dx = dx / len;
            dy = dy / len;

            //Calculate Control Points of path,
            var qx1 = x1 + q*w*dy;
            var qy1 = y1 - q*w*dx;
            var qx2 = (x1 - .25*len*dx) + (1-q)*w*dy;
            var qy2 = (y1 - .25*len*dy) - (1-q)*w*dx;
            var tx1 = (x1 -  .5*len*dx) + w*dy;
            var ty1 = (y1 -  .5*len*dy) - w*dx;
            var qx3 = x2 + q*w*dy;
            var qy3 = y2 - q*w*dx;
            var qx4 = (x1 - .75*len*dx) + (1-q)*w*dy;
            var qy4 = (y1 - .75*len*dy) - (1-q)*w*dx;

            return ( "M " +  x1 + " " +  y1 +
                    " Q " + qx1 + " " + qy1 + " " + qx2 + " " + qy2 +
                    " T " + tx1 + " " + ty1 +
                    " M " +  x2 + " " +  y2 +
                    " Q " + qx3 + " " + qy3 + " " + qx4 + " " + qy4 +
                    " T " + tx1 + " " + ty1 );
        }
    });
}















// input global data and the directory...
function sifter2(d, directory){
    for (var i in d) {
        if (d.name == directory){
            Json = d;
        }
        if(i == "children"){
            for (var t in d[i]){
                sifter2(d[i][t], directory);
            }
        }
    }
}


function unhider(d){
    //console.log("this is inside the unhider right now" + d.name);
    for (var i in directoryHash)
    {
        //TODO!!!  we cant just have a project name case... we need to check every directory and it needs its own set of things that it can show...
        if (d.name == globalData.name) {
            while (hiddenChildren.length != 0) {
                // have to do the exact samething for the text...
                var element = document.getElementById(hiddenChildren.pop());
                element.style.visibility = "hidden";
                var telement = document.getElementById(thiddenChildren.pop());
                telement.style.visibility = "hidden";
            }

            for (var i in d) {
                if(i == "children"){
                    for (var t in d[i]){
                        //console.log(d[i][t].name);
                        var name = d[i][t].name;
                        var textname = "t".concat(name);
                        if(textname.substring(textname.length-3, textname.length) == ".py"){
                            textname = textname.substring(0,textname.length-3);
                        }else{
                            textname = textname;
                        }
                        var celement = document.getElementById(textname);
                        celement.style.visibility = "visible";
                    }
                }
            }
            return;
        }

        // TODO!!! --> NOT UNHIDING THE CORRECT THINGS HERE... !!
        if (d.name == i){    // set visible only the things within that scope and set everything else to be invisible...
            var innards = directoryHash[i];
            for(var v = 0; v < innards.length; v++){
              //  console.log(innards[v]);
                var ddname;
                var textddname;
                var firstTxt = "t".concat(d.name);
                if(innards[v].substring(innards[v].length-3, innards[v].length) == ".py"){
                    ddname = innards[v].substring(0,innards[v].length-3);
                }else{
                   // console.log(innards[v]);
                    ddname = innards[v];   // this is the line we need to get back to normal
                }

                textddname = "t".concat(ddname);
                hiddenChildren.push(ddname);
                thiddenChildren.push(textddname);
                firstLayerText.push(firstTxt);

               // console.log("this is the object we are unhiding here:  " + ddname);
                var element = document.getElementById(ddname);
                element.style.visibility = "visible";
                //console.log(element.style.visibility);

                var telement = document.getElementById(textddname);  // ok so now the text is fucked because we didnt add the 1 to duplicates as well to the texts...
                telement.style.visibility = "visible";

                var currentdirectoryElement = document.getElementById(firstTxt);
                currentdirectoryElement.style.visibility = "hidden";
            }
        }
    }
}

// this creates a hashmap of every directory with its contents.
//TODO MAYBE SHOULD DO THIS WITH THE COLORS IN THE PYTHON FILES??
// trying to fix problem with the same name... --- > try and make it so that anything that has the same name has a one behind it...
function hashmap(d){  // we need the hashmap to have the same id...
    var key;
    var children = [];
    for (var i in d) {
        if(i == "name"){
            if (d[i].substring(d[i].length-3, d[i].length) != ".py"){
                key = d[i];
            }
        }
        if (i == "children"){
            for (var t in d[i]) {
                children.push(d[i][t].name);
                hashmap(d[i][t]);
            }
            directoryHash[key] = children;
        }
    }
}

var redundantChecker = [];
function duplicateRenamer(){
for (var i = 0, keys = Object.keys(directoryHash), ii = keys.length; i < ii; i++) {
    var val = directoryHash[keys[i]];
    for (var f = 0, keys = Object.keys(directoryHash), ff = keys.length; f < ff; f++) {
        var fval = directoryHash[keys[f]];
       // console.log('key : ' + keys[i] + ' val : ' + directoryHash[keys[i]]);  // we need to go through each hash
       // console.log('key2 : ' + keys[f] + ' val2 : ' + directoryHash[keys[f]]);  // and see if they match through the looop
        for (var u = 0; u < val.length; u++) {
            var counter = 1;
            for (var k = 0; k < fval.length; k++) {
                if (f != i && val[u] == fval[k]) {
                    var theSubstring = fval[k];
                         redundantChecker.push(val[u]); // put everything that is redundant in here...
                    if (theSubstring.substring(theSubstring.length - 3, theSubstring.length) == ".py") {
                        theSubstring = theSubstring.substring(0, theSubstring.length - 3); // ths now does not have .py
                        theSubstring = theSubstring.concat(counter.toString());
                        theSubstring = theSubstring.concat(".py");
                    } else {
                        theSubstring = val[k].concat(counter.toString());
                    }
                    fval[k] = theSubstring;
                    redundantChecker.push(fval[k]);
                    counter++;
                }

            }
            counter = 1;
        }
    }
}
}


function colorMixer(d){

    var green = 0;
    var red = 0;
    var blue = 0;
    if (d.name == projectName){
        return "orange";
    }
   if (".py" == d.name.substring(d.name.length-3, d.name.length))
   {
       return d.colour;
    }else{
       for (var u in directoryColors){
           if (d.name == u){


               for (var h = 0; h < directoryColors[u].length; h++){   // not going through the contents right

                   if (directoryColors[u][h] == "green") {
                       green++;
                   }
                   if (directoryColors[u][h] == "red") {
                       red++;
                   }
                   if (directoryColors[u][h] == "blue") {

                       blue++;
                   }
               }
               }
           }
       var total = (green + blue + red);
       var redPercentage = red/total;
       var greenPercentage = green/ total;
       var bluePercentage = blue/total;
       var redAmount = 255 * redPercentage;
       var greenAmount = 255 * greenPercentage;
       var blueAmount = 255 * bluePercentage;
       var tColor = new RGBColour(redAmount, greenAmount, blueAmount);
       var newColor = tColor.getCSSHexadecimalRGB();
       return newColor;
       }
       return "orange";
}



var directoryColors = {};
function sifter3(d){
    var key;
    var children = [];
    for (var i in d) {
        if(i == "name"){
            if (d[i].substring(d[i].length-3, d[i].length) != ".py"){
                key = d[i];
            }
        }
        if (i == "children"){
            for (var t in d[i]) {
                children.push(d[i][t].colour);
                //children.push(d[i][t].name);
                sifter3(d[i][t]);
            }
            directoryColors[key] = children;
        }
    }
}


// outputs the directory given the path...
function directoryGrabber(d){
    var num = d.path.search(d.name);
    var vari = d.path.substring(0, num);
    var varia  = vari.split("/");
    var directoryofzoomed = varia[varia.length-2];
    return directoryofzoomed;
}
//--> no longer need this function here
function sifter(d){

    for (var i in d) {
        if (typeof d[i] == "string") {
            if (d[i].substring(d[i].length, d[i].length - 3) == ".py") {
                currentlypy = true;
                pythonFiles.push(d[i]);
            }
        }
        if (i.substring(0,4) == "line"){
            for(var u in d[i]){
                //console.log([u]);
                // console.log(d[i][u]);
                if (u == "color") {
                    currentlypy = false;
                }
                if (d[i][u] == "blue") {
                    pythonFiles.push("blue");
                    // console.log("blue is found");
                }
                if (d[i][u] == "green") {
                    pythonFiles.push("green");
                    //console.log("green is found");
                }
                if (d[i][u] == "red") {
                    pythonFiles.push("red");
                    //  console.log("Red is found");
                }
            }
        }
        if (i == "children") {
            for (var t in d[i]) {
                sifter(d[i][t]);
            }
        }
    }
}

</script>



</body>
</html>
